// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background-color:#c0df85;
    color: #68534d;
}
#wrapper {
    background-color: #e9f7ca;
    padding: 10px 50px 10px 50px;
    margin: 20px;
}
.logo{
    width: 100%;
}

#online-status-wrapper{
    text-align: center;
    border: solid 2px red;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    border-radius: 5px;
}

#online-status-wrapper h2{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e9f7ca;
}

#online-status-wrapper p{
    font-size: 1.3em;
}

#enter-button-wrapper{
    text-align: center;
}

.button{
    display: inline-block;
    max-width: 300px;
    width: 80%;
    background-color: #f9a03f;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    padding: 8px 0;
    text-decoration: none;
    color: black;
    margin: 24px 24px;
}

.button:hover{
    opacity: 0.5;
}

#login-main-wrapper{
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    padding: 40px;
    background-color: #c0df85;
}
.input_form{
    margin:20px 0;
}
.input_form label,input{
    display: block;
    margin: 0 auto;
}
.input_form input{
    width: 100%;
    height: 2em;
}

input[type="submit"]{
    background-color: #f9a03f;
    width: 50%;
}

.form-error{
    color: red;
}

th{
    padding: 10px
}